body {
    color: #515151;
    background-color: #FFF;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    line-height: 1.2;
    margin: 8px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

a {
    color: #268bd2;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2.5rem;
    font-family: "VeronaSerial", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-top: 0rem;
    margin-bottom: .3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
}

p,
ul,
.nav-secondary {
    font-size: 12pt;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* The core of our grid system. */
.flex-container {
    height: 100%;
    padding: 0;
    margin: 30px auto 0px auto ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 650px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

a:hover {
    background-color: #ffefd5;
}

@font-face {
    font-family: "VeronaSerial";
    src: url("../fonts/348044_0_0.eot");
    src: url("../fonts/348044_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/348044_0_0.woff2") format("woff2"), url("../fonts/348044_0_0.woff") format("woff"), url("../fonts/348044_0_0.ttf") format("truetype");
    font-display: swap;
}

.nav-secondary span:after {
    content: " /";
}

.nav-secondary span:last-of-type:after {
    content: "";
}