---
layout: default
title: Cooper's Blog
---

<div class="flex-container">
  <div>
    <h1 class="home-name">
      <a rel="nofollow" href="/" class="emphasis">Cooper Pellaton</a>
    </h1>
    <p serif>
      <i>Je n’ai fait celle-ci plus longue que parce que je n’ai pas eu le loisir
        de la faire plus courte.</i><sup><a rel="nofollow"
          href="http://quoteinvestigator.com/2012/04/28/shorter-letter/">*</a></sup>
    </p>
  </div>
  <div>
    {% for post in site.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2 id="y{{post.date | date: " %Y"}}">{{ currentdate }}</h1>
      <ul>
        {% assign date = currentdate %}
        {% endif %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% if forloop.last %}
      </ul>{% endif %}
      {% endfor %}
  </div>
</div>