body {
  margin: auto;
  margin-top: 10%;
  width: auto 70%;
}


.left,
.right {
  display: inline-block
}

.left {
  width: 170px;
  height: 239px;
  margin-right: -4px;
    margin-left: 30%;
}

@media (max-width: 480px) {
    /*.left {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;
        padding: 30px;
    }*/
    body {
        padding: 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    /*.left {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;
        padding: 30px;
    }*/
    body {
        padding: 0;
        margin: 0 auto;
    }
}


/* .right {
  margin-right:5%;
} */

div>div {
  display: block;
  height: 34px;
}

div>div>div {
  width: 30px;
  height: 30px;
  background-color: red;
  display: inline-block;
  float: right;
  margin: 2px;
}

div.right>div>div {
  float: left;
}