<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ site.name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
	<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet">
	<link rel="icon" href="/images/CEPPLogo.png" type="image/png" />
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<title>{{ site.name }}</title>
	<!--Added in new description to try and increase SEO.-->
	<meta name="description" content="">
	<meta name="description" content="The casual insanity and paranoia of Cooper Pellaton as he naviagtes that unnavigable web." />
	<meta name="author" content="Cooper Pellaton" />
	<meta name="copyright" content="&copy; Copyright 2015 to Present" />
	<link type="text/plain" rel="author" href="/humans.txt" />
	<link rel="canonical" href="http://cepp.at/" />
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@cooperpellaton">
	<meta name="twitter:creator" content="@cooperpellaton">
	<meta name="twitter:url" content="http://cepp.at">
	<meta name="twitter:title" content="The casual insanity and paranoia of Cooper Pellaton as he naviagtes that unnavigable web.">
	<meta name="twitter:description" content="cepp.at is a blog about the casual insanity and paranoia of Cooper Pellaton as he naviagtes that unnavigable web..">
	<!--End entry to try and increase SEO.-->
	<!-- Mobile features -->
	<link rel="apple-touch-startup-image" href="/images/CEPPLogo.png">
	<link rel="icon" type="image/png" href="/images/CEPPLogo.png">
	<link rel="apple-touch-icon" type="image/png" href="/images/CEPPLogo.png">
	<link rel="icon" sizes="144x144" href="/images/CEPPLogo.png">
	<link rel="icon" sizes="192x192" href="/images/CEPPLogo.png">
	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" <meta name="apple-mobile-web-app-title" content="TITLE">
	<link rel="apple-touch-icon-precomposed" href="/images/CEPPLogo.png">
	<!-- Tile icon for Windows 10 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/images/CEPPLogo.png">
	<meta name="msapplication-square310x310logo" content="/images/CEPPLogo.png">
	<meta name="msapplication-TileColor" content="#3372DF">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#778899">
	<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
	<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet">
	<link rel="icon" href="/images/CEPPLogo.png" type="image/png" />
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
						<li class="active visible-xs-block"><a href="{{ site.baseurl }}/links.html">Links</a></li>
						<li class="active"><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
						<li class="active"><a href="{{ site.baseurl }}/about.html">About</a></li>
						<li class="active"><a href="{{ site.baseurl }}/archive.html">Archive</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
