<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5" />
        <meta name="color-scheme" content="light dark" />
        <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)" />
        <meta name="theme-color" content="#101010" media="(prefers-color-scheme: dark)" />
        <style>
            {% include base.css %}
        </style>
        <link type="text/plain" rel="author" href="/humans.txt" />
        <link rel="me" href="{{ site.mastodon }}" />
        <link rel="icon" type="image/x-icon" href="{{ site.favicon }}" />
        <title>{% if page.title and page.title != site.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        {% seo title=false %} {% feed_meta %}
        <script type="speculationrules">
            {
                "prerender": [
                    {
                        "where": {
                            "and": [{ "href_matches": "/*" }, { "not": { "href_matches": "/files/*" } }]
                        },
                        "eagerness": "moderate"
                    }
                ]
            }
        </script>
    </head>

    <body>
        <a class="skip-link" href="#content">Skip to main content</a>
        <div class="grid-container">
            <header class="grid-nav">{% include nav.html %}</header>
            <main class="grid-content" id="content">{{ content }}</main>
            <footer class="grid-footer">
                <p>
                    &copy; 2015&ndash;present Cooper Pellaton &middot;
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
            </footer>
        </div>
    </body>
</html>
