<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5" />
        <style>
            {% include base.css %}
        </style>
        <meta name="keywords" content="{{ site.keywords }}" />
        <meta name="copyright" content="&copy; Copyright 2015 to Present" />
        <link type="text/plain" rel="author" href="/humans.txt" />
        <link rel="me" href="{{ site.mastodon }}" />
        <link rel="icon" type="image/x-icon" href="{{ site.favicon }}" />
        {% seo %} {% feed_meta %}
        <script type="speculationrules">
            {
                "prerender": [
                    {
                        "where": {
                            "and": [{ "href_matches": "/*" }, { "not": { "href_matches": "/files/*" } }]
                        },
                        "eagerness": "moderate"
                    }
                ]
            }
        </script>
    </head>

    <body>
        <div class="grid-container">
            <header class="grid-nav">{% include nav.html %}</header>
            <main class="grid-content">{{ content }}</main>
            <footer class="grid-footer">
                <p>
                    &copy; 2015&ndash;present Cooper Pellaton &middot;
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
            </footer>
        </div>
    </body>
</html>
