<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="//algorithmia.com/assets/stylesheets/recommends.css">
    <meta name="description" content="{{ site.description }}" />
    <meta name="author" content="Cooper Pellaton" />
    <meta name="copyright" content="&copy; Copyright 2015 to Present" />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="canonical" href="http://cepp.at/" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@c__p_r">
    <meta name="twitter:creator" content="@c__p_r">
    <meta name="twitter:url" content="http://cepp.at">
    <meta name="twitter:title" content="The casual insanity and paranoia of Cooper Pellaton as he navigates that unnavigable web.">
    <meta name="twitter:description" content=" {{site.description }}">
    <!-- Mobile features -->
    <link rel="apple-touch-startup-image" href="/images/Sketch_Big.jpeg">
    <link rel="icon" type="image/png" href="/images/Sketch_Big.jpeg">
    <link rel="apple-touch-icon" type="image/png" href="/images/Sketch_Big.jpeg">
    <link rel="icon" sizes="144x144" href="/images/Sketch_Big.jpeg">
    <link rel="icon" sizes="192x192" href="/images/Sketch_Big.jpeg">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" <meta name="apple-mobile-web-app-title" content="TITLE">
    <link rel="apple-touch-icon-precomposed" href="/images/Sketch_Big.jpeg">
    <!-- Tile icon for Windows 10 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/images/Sketch_Big.jpeg">
    <meta name="msapplication-square310x310logo" content="/images/Sketch_Big.jpeg">
    <meta name="msapplication-TileColor" content="#3372DF">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#778899">
    <link rel="icon" href="/images/Sketch_Big.jpeg" type="image/png" />
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <link rel="shortcut icon" href="/images/Sketch_Big.jpeg">
</head>

<body class="markdown-body">
    <div class="content">
        {{ content }}
    </div>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-49039366-1', 'auto');
    ga('send', 'pageview');
    </script>
</body>

</html>
