---
layout: default
---
<article class="h-entry">
    <h1 class="p-name">{{ page.title }}</h1>
    <p class="post-date">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
            {{- page.date | date_to_long_string -}}
        </time>
    </p>
    {% if page.lyric %}
        <blockquote>
            {{ page.lyric }}
            <br />
            {{ page.artist }}
            <a rel="nofollow noopener noreferrer" href=" {{page.genius_link}} " target="_blank"> {{ page.song }}</a>
        </blockquote>
    {% endif %}
    <div class="e-content">{{ content }}</div>
</article>
